<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styling Section -->
    <link rel="stylesheet" href="../static/style.css">
    <title>Search Engine Crawler</title>
</head>
<body>

    <!-- LogIn and Sign Up section -->
    <div class="user_input_container" >
        <!-- LogIn section -->
        <div class="log_in">
            <h2 class="title">User LogIn</h2>
            <form action="POST">
                <input type="email" name="email" id="email" placeholder="Enter Email Address..." required>
                <input type="password" name="password" id="password" placeholder="Enter Password (Min. 8 characters)" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$" title="At least 1 uppercase letter, 1 lowercase letter and a number!">
                <input type="submit" value="LogIn" id="button">
            </form>
            <div class="status_message" hidden></div>
            <div class="register_option">
                <span>Don't have an account?</span>
                <button>Register Now</button>
            </div>
        </div>
        <!-- Sign Up section -->
        <div class="sign_up" hidden>
            <h2 class="title">Sign Up</h2>
            <form action="POST">
                <input type="text" name="username" id="username" placeholder="Enter A Username..." required minlength="3">
                <input type="email" name="email" id="email" placeholder="Enter Email Address..." required>
                <input type="password" name="password" id="password" placeholder="Create Password (Min. 8 characters)" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$" title="At least 1 uppercase letter, 1 lowercase letter and a number!">
                <input type="submit" value="Register" id="button">
            </form>
            <div class="status_message" hidden></div>
            <div class="login_option">
                <span>Already have an account?</span>
                <button>LogIn here</button>
            </div>
        </div>
    </div>

    <!-- Admin Panel -->

    <!-- Search Crawling Input Section -->
    <div class="crawling_input_container" hidden>
        <h2 class="title">Crawler Instructions</h2>
        <form action="POST">
            <div class="search_engine_container">
                <label for="search_engine_selection">Select an engine to search on:</label>
                <select name="search_engine_selection" id="search_engine_selection" class="engine_options" required>
                    <option value="google" selected>Google Search</option>
                    <option value="yahoo">Yahoo Search</option>
                    <option value="bing">Microsoft Bing</option>
                    <option value="yandex">Yandex</option>
                    <option value="duckduckgo">DuckDuckGo</option>
                    <option value="dogpile">DogPile</option>
                    <option value="ask">Ask</option>
                </select>
            </div>
            <input type="text" name="keyword" id="keyword" placeholder="Enter Keyword Phrase to search. . ." required minlength="3">
            <input type="number" name="page_depth" id="page_depth" placeholder="Enter Page Depth Number. . ." min="1" max="10" required>
            <input type="number" name="max_search_number" id="max_search_number" placeholder="Enter maximum number of search. . ." min="1" max="500" required>
            <input type="submit" value="START" id="button">
        </form>
    </div>

    <!-- Functionality Section -->
    <script type="module" src="../static/main.js"></script>
</body>
</html>